*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff7ee;
    color: #222;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;

}

nav a{
    text-decoration: none;
    color:#555;
    font-weight: 600;
}

.hero{
    background-color: #8fb18f;
    border-radius: 30px;
    margin: 30px;
    padding: 60px 40px;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.hero-content img{
    width: 140px;
}

.hero-content h1{
   font-size: 56px;
   color: white;
}

.hero button{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    
}

.hero-text{
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card{
    width: 220px;
    text-align: center;
}

.card img{
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 140px;
    height: auto;
    background-color: white;
    padding: 12px;
    border-radius: 16px;
    
}

.card img:hover{
    transform: scale(1.05);
}


.card h3{
    margin-top: 10px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 6px;
    font-size: 14px;
  
}

.card.siamese h3{
    background-color: #6ec1ff;
}

card.orange h3{
    background-color: #f7b267;
}

card.bombay h3{
    background-color: #8a6cff;
}

.card p{
    display: none;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 1.4;
}

.card.siamese p{
    background-color: #cce9ff;
}

.card.orange p{
    background-color: #ffd89c;
}

.card.bombay p{
    background-color: #d9ccff;
}

footer{
    background: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}